/*todo| float sirve para poder posicionar un elemento o un  grupo de elementos en una linea */

div.container
{
   
    position: relative;
   
    width:25%;
    height:150px;
    overflow: hidden;/*todo elemento que se salga del contenedor se oculta*/
    overflow: scroll;/*todo elemento que se salga del contenedor se puede recorrer con scroll bar*/
    overflow: auto;/*no muestra la barra de navegacion horizontal si no es necesaria*/
    /*float: none;default*/
    
}

div.container.flotado
{
    float: left;
}

div.container.flotado.container1
{
    border: 10px dashed greenyellow;
}
div.container.flotado.container2
{
    border: 10px dashed rgb(144, 173, 101);
    float: right;
}
div.container.container3
{
   
    clear: both;/*para que no se flote ni ala derecha ni a ala iq*/
    border: 10px dashed rgb(19, 19, 18);
    margin: auto;
}