
.contenedor
{
    border: 2px dashed greenyellow;
    position: relative;
    margin: auto;
    width:50%;
    height:500px;
}


.contenedor img
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
}

/*
todo[para cambiar el color]paso a paso para alinear el text dentro de la imagen
1) hacemos que ocupe todo el ancho[el mismo paso que hicimos para centrar la imagen]
width: 100%;
2)text-align: center;
3)alinear verticalmente top: 50%;
*/
.texto_centrado
{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.estatico
{
    position: relative;
    top: 10px;/*al ser un position relative se aplica*/
    left: 10px;/*al ser un position relative se aplica*/
    padding: 15px;
    border: 3px solid red;
    margin: auto 20px;
    background-color: blue;
}

div.relativa
{
    position: relative;
    top: -2px;/*al ser un position relative se aplica*/
    left: 10px;/*al ser un position relative se aplica*/
    padding: 15px;
    border: 3px solid red;
    margin: auto;
    z-index: -1000;/*aseguramos de que siempre este atras*/
}

div.absoluto
{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    border: 3px solid rgb(97, 75, 75);

   
}

